.songCard-body {
  width: 90%;
  margin-top: 20px;
  height: 50%;
  display: flex;
  background-color: #27354d;
  border-radius: 30px;
  border-bottom-right-radius: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
